<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laolao.mapper.QuestionMapper">
    <delete id="deleteDraft">
        delete question where id in
        <foreach collection="questionIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectPrivateBank" resultType="com.laolao.pojo.vo.QuestionBankDialogVO">
        select q.id, q.title, u.name as manager, q.is_public
        from question q
        join user u on u.id = q.creator_id
        where q.creator_id = #{userId} and q.parent_id = 0 and q.is_deleted = 0
        <if test="content != null and content != ''">
            and
            (q.title like concat('%', #{content}, '%')
                or q.content like concat('%', #{content}, '%'))
        </if>
    </select>

    <select id="selectPublicBank" resultType="com.laolao.pojo.vo.QuestionBankDialogVO">
        select distinct q.id, q.title, q.difficulty
        from question q
        left join question_tag qt on qt.question_id = q.id
        left join tag t on t.id = qt.tag_id
        where q.is_public = 1 and q.parent_id = 0 and q.is_deleted = 0
        <if test="content != null and content != ''">
            and
            (q.title like concat('%', #{content}, '%')
                or q.content like concat('%', #{content}, '%')
                or t.name like concat('%', #{content}, '%'))
        </if>
        <if test="tagId != null">
            and t.id = #{tagId}
        </if>
    </select>

    <select id="selectTags" resultType="com.laolao.pojo.vo.QuestionBankDialogTagVO">
        select q.id, t.name
        from question q
                 left join question_tag qt on qt.question_id = q.id
                 join tag t on t.id = qt.tag_id
        where q.id in
        <foreach collection="questionIds" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>
</mapper>